.contactBar {
    background-color: #f2c9de; /* Dark brown color */
    color: #fff; /* White text color */
    text-align: center;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    font-family: Arial, sans-serif;
  }
  
  .contactBar p {
    margin: 0;
  }
  
  .link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .link:hover {
    color: #f0c14b; /* A golden shade for hover */
  }
  